{% include "admin/includes/header.html" %}
{% block content %}
{% include "_messages.html" %}
<div class="container mt-5">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
        <th>Sr</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        {% if categories %}
        {% for category in categories %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{category.name}}</td>
          <td> <a href="" class="btn btn-sm btn-outline-info">Edit</a> </td>
          <td> <a href="" class="btn btn-sm btn-outline-danger">Delete</a> </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% include "admin/includes/footer.html" %}